<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hackathon</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/small-business.css" rel="stylesheet">

  <script src="static/js/script.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand">Hackathon</a>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Content Row -->
    <div id="toolbar" class="row">
      <img id="play" src="static/image/play.png" onclick="play()" />
    </div>
    <div class="row">
      <div class="col-xs-5 col-sm-6 col-lg-4">
        <div class="row">
            <table id="informationTable"> 
                <tr>
                  <th>Name</th>
                  <th>Percentage</th>
                </tr>
                <tr id="rowOne" onclick="hola()">
                  <td id="id1"></td>
                  <td id="percentage1"></td>
                  <td style="width:10px;height:10px; background-color:blue"></td>
                </tr>
                <tr id="rowTwo" onclick="hola()">
                  <td id="id2"></td>
                  <td id="percentage2"></td>
                  <td style="width:10px;height:10px; background-color:red"></td>
                </tr>
                <tr id="rowThree" onclick="hola()">
                  <td id="id3"></td>
                  <td id="percentage3"></td>
                  <td style="width:10px;height:10px; background-color:green"></td>
                </tr>
              </table>
        </div>
        <div class="row">
            <video id="myVideo">
                <source src="static/videos/video.mp4" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="row">
            <video id="myVideo2">
                <source src="static/videos/video.mp4" type="video2/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
       
      </div>
      
      <div class="col-xs-7 col-sm-6 col-lg-8" >
        <canvas id="myCanvas" width="750" height="350" style="background-color:lavender;">
            <script>draw();</script>
        </canvas>
        <table id="detailTable">
            <tr>
              <th>Gender</th>
              <th>Section</th>
              <th>Time</th>
              <th>Total path</th>
              <th>Invers of locality</th>
            </tr>
            <tr>
              <td id="gender"></td>
              <td id="section"></td>
              <td id="time"></td>
              <td id="distance"></td>
              <td id="surface"></td>
            </tr>
          </table>
        
      </div>
    </div>
    <div class="down">
      <div class="col-xs-12">

       

      </div>
    </div>
    <script>fillData()</script>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
</html>